ConnectSensorConsole/ConnectSensorConsole/Web References/Telemetry/telemetry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sens4/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sens4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sens4/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOTGSMLatestLevels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOTGSMLatestLevelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOTGSMLatestLevelsResult" type="tns:ArrayOfLatestLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLatestLevel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LatestLevel" nillable="true" type="tns:LatestLevel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LatestLevel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LevelDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SignalmanNo" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TriggerPoint" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Capacity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Alerts" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountRef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpectedCallTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LatestLevel_V2">
        <s:complexContent mixed="false">
          <s:extension base="tns:LatestLevel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Fuel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetOTGSMLatestLevels_V2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOTGSMLatestLevels_V2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOTGSMLatestLevels_V2Result" type="tns:ArrayOfLatestLevel_V2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLatestLevel_V2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LatestLevel_V2" nillable="true" type="tns:LatestLevel_V2" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetOTGSMLatestLevelsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOTGSMLatestLevels" />
  </wsdl:message>
  <wsdl:message name="GetOTGSMLatestLevelsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOTGSMLatestLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOTGSMLatestLevels_V2SoapIn">
    <wsdl:part name="parameters" element="tns:GetOTGSMLatestLevels_V2" />
  </wsdl:message>
  <wsdl:message name="GetOTGSMLatestLevels_V2SoapOut">
    <wsdl:part name="parameters" element="tns:GetOTGSMLatestLevels_V2Response" />
  </wsdl:message>
  <wsdl:portType name="TelemetrySoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOTGSMLatestLevels">
      <wsdl:input message="tns:GetOTGSMLatestLevelsSoapIn" />
      <wsdl:output message="tns:GetOTGSMLatestLevelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOTGSMLatestLevels_V2">
      <wsdl:input message="tns:GetOTGSMLatestLevels_V2SoapIn" />
      <wsdl:output message="tns:GetOTGSMLatestLevels_V2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TelemetrySoap" type="tns:TelemetrySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://sens4/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOTGSMLatestLevels">
      <soap:operation soapAction="http://sens4/GetOTGSMLatestLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOTGSMLatestLevels_V2">
      <soap:operation soapAction="http://sens4/GetOTGSMLatestLevels_V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TelemetrySoap12" type="tns:TelemetrySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://sens4/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOTGSMLatestLevels">
      <soap12:operation soapAction="http://sens4/GetOTGSMLatestLevels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOTGSMLatestLevels_V2">
      <soap12:operation soapAction="http://sens4/GetOTGSMLatestLevels_V2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Telemetry">
    <wsdl:port name="TelemetrySoap" binding="tns:TelemetrySoap">
      <soap:address location="https://www.connectsensor.com/soap/telemetry.asmx" />
    </wsdl:port>
    <wsdl:port name="TelemetrySoap12" binding="tns:TelemetrySoap12">
      <soap12:address location="https://www.connectsensor.com/soap/telemetry.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>